__pycache__/*
__pycache__
*egg-info
*eggs
.vscode/
env/
venv/
workdir/
makefile
*.out
*.sh
*.swp
*/data/
*events.out.tfevents*
algoperf/workloads/librispeech_conformer/data_dir
algoperf/workloads/librispeech_conformer/work_dir
*.flac
*.npy
*.csv
*.vocab
wandb/
*.txt
scoring/plots/

!scoring/test_data/experiment_dir/study_0/mnist_jax/trial_0/eval_measurements.csv
!scoring/test_data/experiment_dir/study_0/mnist_jax/trial_1/eval_measurements.csv

algoperf/_version.py