__pycache__/*
__pycache__
*egg-info
*eggs
.vscode/
env/
venv/
workdir/
makefile
*.out
# #*.sh
*.swp
*/data/
*events.out.tfevents*
algorithmic_efficiency/workloads/librispeech_conformer/data_dir
algorithmic_efficiency/workloads/librispeech_conformer/work_dir
*.flac
*.npy
*.csv
*.vocab
wandb/
*.txt
