__pycache__/*
__pycache__
*egg-info
*eggs
.vscode/
env/
venv/
workdir/
makefile
*.out
*.sh
*.swp
*/data/
*events.out.tfevents*
algorithmic_efficiency/workloads/librispeech_conformer/data_dir
algorithmic_efficiency/workloads/librispeech_conformer/work_dir
*.flac
*.npy
*.vocab
wandb/
*.txt

!scoring/test_data/experiment_dir/study_0/mnist_jax/trial_0/eval_measurements.csv
!scoring/test_data/experiment_dir/study_0/mnist_jax/trial_1/eval_measurements.csv
