name: CI

on: [push, pull_request]

jobs:
  pytest:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.7
      uses: actions/setup-python@v2
      with:
        python-version: 3.7
    - name: Install pytest
      run: |
        python -m pip install --upgrade pip
        pip install pytest
        pip install .[jax_cpu]
        pip install .[pytorch_cpu]
        pip install .[wmt]
    - name: Run pytest
      run: |
        pytest -vx tests/version_test.py
        pytest -vx tests/workloads/imagenet/imagenet_jax/workload_test.py
